<div>

    <h3> Username =
        <%= username %>
    </h3>
    <h3> Email-Id =
        <%= email %>
    </h3>
    <h3> Mobile Number =
        <%= mobileNo %>
    </h3>


    <form method="POST" action="/changeaccountdetails">

        <input type="submit" value="Change Password">

    </form>

    <style>
        h3 {
            color: blue;
        }