<html>

<body>

    <div>

        <form method="POST" action="/changepassword">

            <h3> New Password </h3>

            <input required type="password" name="newpassword" placeholder="Enter New Password">

            <h3> Confirm Password </h3>

            <input required type="password" name="confirmpassword" placeholder="Confirm Password">

            <input type="submit" value="Save changes">

        </form>

    </div>

    <% if(errorMsg) {%>
        <script>
            alert("<%= errorMsg %>");
        </script>
        <% } %>

</body>

</html>