<html>

<head>
    <title>
        My Cart</title>
</head>

<body>

    <h1>
        <%= username %>'s Cart!! </h1>
    <br>
    <br>
    <div id="productsincart">

    </div>

    <a href="/">Go Back</a>

</body>

<script src="/scripts/mycart.js"></script>

</html>